html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  line-height: inherit;
  box-sizing: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background-color: #575aff;
  line-height: 2;
}

h1 {
  display: flex;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  font-weight: bold;
  font-family: "Helvetica Neue";
  font-size: 2.5rem;
  color: #ffffff;
}

.container {
  width: 350px;
  height: auto;
  background-color: #1e272e;
  /*   margin: 20vh auto; */
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4rem;
  padding: 10px;
  margin-top: 5rem;
}

.search__box {
  float: left;
  width: 0;
  height: 4rem;
  /*   display: inline; */
  background: none;
  color: #f7f7f7;
  font-size: 2rem;
  border-radius: 2rem;
  letter-spacing: 0.1rem;
  outline: none;
  border: none;
  position: relative;
  opacity: 1;
  transition: all 0.75s ease-in;
  cursor: pointer;
  /*   border: 2px solid tomato; */
  /*   margin-top: 5px; */
}

/* .search__box:focus, .search__box:hover {
background-color: #f1f2f6;
} */

.search__icon {
  box-sizing: border-box;
  float: right;
  font-size: 2.5rem;
  display: inline-block;
  /*   justify-content: center;
align-items: center; */
  margin-left: 0.8rem;
  margin-top: 0;
  cursor: pointer;
  position: absolute;
  color: #fa983a;
  transition: all 0.25s ease-in;
  padding: 0.7rem;
  border-radius: 50%;
}

.container:hover > .search__box {
  width: 85%;
  padding: 0 1rem;
}

.container:hover > .search__icon {
  background-color: #eee;
}

.invalid-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem auto 0 0;
}

.invalidCepMessage {
  color: rgba(235, 155, 155, 0.733);
  font-size: 1.5rem;
  margin-top: 4rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  border-collapse: collapse;
  margin: 10rem auto;
  font-size: 2rem;
}

tbody {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
}

td {
  color: rgb(216, 206, 231);
}

tr {
  border-bottom: 4px solid rgba(241, 233, 233, 0.1);
  height: 5rem; /* 80px */
}

tr > td:first-child {
  font-style: normal;
  font-weight: 600;
  font-size: 2rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  padding: 0 2rem;
  color: #ffffff;
}
